<!-- Room Controls -->
<div class="flex flex-col justify-center">
    <div class="flex items-center justify-between">
        <h1 class="text-2xl font-semibold">{{ group.name }} Group Management</h1>
        <button (click)="toggleGroupManagement()" class="text-2xl self-end focus:outline-none">&#10005;</button>
    </div>

    <div class="overflow-auto h-full w-full scroll-track-dark scroll-thumb-dark mt-6 pr-4" style="height:30rem;">

        <!-- Channel controls -->
        <h2 class="text-lg font-semibold">Channel Controls</h2>
        <hr>

        <div class="w-full grid grid-cols-2 gap-10 mt-6">

            <div class="w-full">
                <p class="text-sm uppercase font-semibold tracking-wide">Add Channel</p>
                <div class="flex items-center mt-2">
                    <input class="border {{ errors?.hasErrors('channel') ? 'border-red-500' : 'border-gray-400' }} rounded w-full px-2 py-1 focus:outline-none" type="text" 
                            placeholder="Channel name..." name="channel" [(ngModel)]="channel">
                    <button (click)="addChannel()" class="ml-2 px-2 py-1 bg-green-500 text-white rounded self-end hover:bg-green-400 focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    </button>
                </div>
                <div *ngIf="errors?.hasErrors('channel')" class="py-1">
                    <p *ngFor="let error of errors?.getErrors('channel')" class="text-sm text-red-500">{{ error }}</p>
                </div>
            </div>

            <div class="w-full" *ngIf="isSuperAdmin() || isGroupAdmin()">
                <p class="text-sm uppercase font-semibold tracking-wide">Remove Channel</p>
                <div class="flex items-center mt-2">
                    <p *ngIf="channels.length == 0; else notEmpty" class="text-sm py-2">There are no channels to remove.</p>
                    <ng-template #notEmpty>
                        <select [(ngModel)]="deactivateChannel" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none">
                            <option [ngValue]="null">Select a channel...</option>
                            <option *ngFor="let channel of channels" [ngValue]="channel">{{ channel.name }}</option>     
                        </select>
                        <button (click)="removeChannel()" class="ml-2 px-2 py-1 bg-red-500 text-white rounded hover:bg-red-400 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="w-full" *ngIf="isSuperAdmin() || isGroupAdmin()">
                <p class="text-sm uppercase font-semibold tracking-wide">Reactivate Channel</p>
                <div class="flex items-center mt-2">
                    <p *ngIf="deactivatedChannels.length == 0; else notEmpty" class="text-sm py-2">There are no channels that can be reactivated</p>
                    <ng-template #notEmpty>
                        <select [(ngModel)]="deactivatedChannel" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none">
                            <option [ngValue]="null">Select a channel...</option>
                            <option *ngFor="let channel of deactivatedChannels" [ngValue]="channel">{{ channel.name }}</option>            
                        </select>
                        <button (click)="reactivateChannel()" class="ml-2 px-2 py-1 bg-green-500 text-white rounded self-end hover:bg-green-400 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- Group user controls -->
        <h2 class="text-lg font-semibold mt-12">User Controls</h2>
        <hr>

        <div class="w-full grid grid-cols-2 gap-10 mt-6">

            <div *ngIf="isGroupAdmin() || isSuperAdmin()" class="w-full">
                <p class="text-sm uppercase font-semibold tracking-wide">Invite User to Group</p>
                <div class="flex items-center mt-2">
                        <input [(ngModel)]="username" class="border {{ errors?.hasErrors('username') ? 'border-red-500' : 'border-gray-400' }} rounded w-full px-2 py-1 focus:outline-none" 
                            type="text" placeholder="Username..." name="username">
                    <button (click)="inviteUserToGroup()" class="ml-2 px-2 py-1 bg-green-500 text-white rounded self-end hover:bg-green-400 focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    </button>
                </div>
                <div *ngIf="errors?.hasErrors('username')" class="py-1">
                    <p *ngFor="let error of errors?.getErrors('username')" class="text-sm text-red-500">{{ error }}</p>
                </div>
            </div>

            <div *ngIf="isGroupAdmin() || isSuperAdmin()" class="w-full">
                <p class="text-sm uppercase font-semibold tracking-wide">Remove User From Group</p>
                <div class="w-full flex items-center mt-2">
                    <p *ngIf="allGroupUsers.length == 0; else removeUserNotEmpty" class="text-sm py-2">There are no user in this group.</p>
                    <ng-template #removeUserNotEmpty>
                        <select [(ngModel)]="removeUserGroup" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none mt-1" name="removeUserGroup">
                            <option [ngValue]="null">Select a user...</option>
                            <option *ngFor="let user of allGroupUsers" [ngValue]="user">{{ user.username }}</option>
                        </select>
                        <button (click)="removeUserFromGroup()" class="ml-2 px-2 py-1 bg-red-500 text-white rounded self-end hover:bg-red-400 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="w-full">
                <p class="text-sm uppercase font-semibold tracking-wide">Invite User to Channel</p>
                <div class="flex items-center mt-2">
                    <p *ngIf="channels.length == 0; else inviteChannelNotEmpty" class="text-sm">There are no channels to select.</p>
                    <ng-template #inviteChannelNotEmpty>
                        <select [(ngModel)]="inviteChannel" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none mt-1">
                            <option [ngValue]="null">Select a channel...</option>
                            <option *ngFor="let channel of channels" [ngValue]="channel">{{ channel.name }}</option>
                        </select>
                    </ng-template>
                </div>
            </div>

            <div class="w-full">
                <div class="flex items-center mt-8">
                    <p *ngIf="inviteChannelUsers().length == 0; else inviteChannelUsersNotEmpty" class="w-full text-sm text-center">There are no users able to be invited.</p>
                    <ng-template #inviteChannelUsersNotEmpty>
                        <select [(ngModel)]="channelInviteUser" class="w-full border border-gray-400 rounded px-3 py-1 focus:outline-none mt-1">
                            <option [ngValue]="null">Select user...</option>
                            <option *ngFor="let user of inviteChannelUsers()" [ngValue]="user">{{ user.username }}</option>
                        </select>
                        <button (click)="inviteUserToChannel()" class="ml-2 px-2 py-1 bg-green-500 text-white rounded self-end hover:bg-green-400 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </button>
                    </ng-template>

                </div>
            </div>

            <div class="w-full">
                <p class="text-sm uppercase font-semibold tracking-wide">Remove User from Channel</p>
                <div class="flex items-center mt-2">
                    <p *ngIf="removeChannelList().length == 0; else removeUserChannelNotEmpty" class="py-2 text-sm">There are no channels to select.</p>
                    <ng-template #removeUserChannelNotEmpty>
                        <select [(ngModel)]="removeFromChannel" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none mt-1">
                            <option [ngValue]="null">Select a channel...<option>
                            <option *ngFor="let channel of removeChannelList()" [ngValue]="channel">{{ channel.name }}</option>
                        </select>
                    </ng-template>
                </div>
            </div>

            <div class="w-full flex items-center mt-8">
                <p *ngIf="getChannelUsers().length == 0; else removeUserUserNotEmpty" class="text-sm text-center w-full">The selected channel has no users.</p>
                <ng-template #removeUserUserNotEmpty>
                    <select [(ngModel)]="removeUserChannel" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none">
                        <option [ngValue]="null">Select a user...</option>
                        <option *ngFor="let user of getChannelUsers()" [ngValue]="user">{{ user.username }}</option>
                    </select>
                    <button (click)="removeUserFromChannel()" class="ml-2 px-2 py-1 bg-red-500 text-white rounded self-end hover:bg-red-400 focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    </button>
                </ng-template>
            </div>

        </div>

        <div *ngIf="isSuperAdmin() || isGroupAdmin()" class="w-full grid grid-cols-2 gap-10 mt-6">

            <div class="w-full">
                <p class="text-sm uppercase font-semibold tracking-wide">Promote To Group Assistant</p>
                <div class="flex items-center mt-2">
                    <p *ngIf="promotableUsers().length == 0; else promoteNotEmpty" class="w-full text-center py-2">There are no promotable users.</p>
                    <ng-template #promoteNotEmpty>
                        <select [(ngModel)]="promoteUser" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none">
                            <option [ngValue]="null">Select a user...</option>
                            <option *ngFor="let user of promotableUsers()" [ngValue]="user">{{ user.username }}</option>
                        </select>
                        <button (click)="promoteUserToGroupAssistant()" class="mt-1 ml-2 px-2 py-1 bg-green-500 text-white rounded self-end hover:bg-green-400 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="w-full">
                <p class="text-sm uppercase font-semibold tracking-wide">Demote From Group Assistant</p>
                <div class="flex items-center mt-2">
                    <p *ngIf="demotableUsers().length == 0; else demoteNotEmpty" class="text-sm w-full text-center py-2">There are no demotable users.</p>
                    <ng-template #demoteNotEmpty>
                        <select [(ngModel)]="demoteUser" class="w-full border border-gray-400 rounded px-2 py-1 focus:outline-none">
                            <option [ngValue]="null">Select a user...</option>
                            <option *ngFor="let user of demotableUsers()" [ngValue]="user">{{ user.username }}</option>
                        </select>
                        <button (click)="demoteUserFromGroupAssistant()" class="mt-1 ml-2 px-2 py-1 bg-green-500 text-white rounded self-end hover:bg-green-400 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                      </button>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>
</div>