<div class="flex flex-col justify-center">
    <div class="flex items-center justify-between">
        <h1 class="text-2xl font-semibold py-1">User Management</h1>
        <button (click)="closeUserManagement()" class="text-2xl self-end focus:outline-none">&#10005;</button>
    </div>
    <hr class="pb-4">

    <!-- tabs -->
    <div class="flex items-center justify-between">
        <button (click)="openTab('addUser')" class="w-full text-sm font-semibold uppercase px-2 py-2 focus:outline-none hover:bg-gray-300 {{ tab == 'addUser' ? 'bg-gray-300' : '' }}">Add User</button>
        <button (click)="openTab('updateUser')" class="w-full text-sm font-semibold uppercase px-2 py-2 focus:outline-none hover:bg-gray-300 {{ tab == 'updateUser' ? 'bg-gray-300' : '' }}">Update User</button>
        <button (click)="openTab('removeUser')" class="w-full text-sm font-semibold uppercase px-2 py-2 focus:outline-none hover:bg-gray-300 {{ tab == 'removeUser' ? 'bg-gray-300' : '' }}">Remove User</button>
    </div>

    <app-add-user *ngIf="tab == 'addUser'"></app-add-user>

</div>